[submodule "RecordsApp/EkaMedicalRecordsUI"]
	path = RecordsApp/EkaMedicalRecordsUI
	url = https://github.com/eka-care/EkaMedicalRecordsUI.git
[submodule "RecordsApp/EkaMedicalRecordsCore"]
	path = RecordsApp/EkaMedicalRecordsCore
	url = https://github.com/eka-care/EkaMedicalRecordsCore.git
[submodule "EkaMedicalRecordsCore"]
	path = EkaMedicalRecordsCore
	url = https://github.com/eka-care/EkaMedicalRecordsCore.git
[submodule "EkaMedicalRecordsUI"]
	path = EkaMedicalRecordsUI
	url = https://github.com/eka-care/EkaMedicalRecordsUI.git
